<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Hot Top Pick </title>
</head>

<body>
    <div class="container-md">
        <div class="m-5">
            <form id="main-form" action="/" method="POST">
                <div class="form-group row">
                    <input type="text " class="form-control col" name="keyword" value="<%= keyword%>">
                    <!-- <button type="submit " class="btn btn-outline-light btn-sm ml-2 col-3 submit-btn" id="main-button"> Submit </button> -->
                    <input type="submit" class="btn btn-outline-light ml-2 col-3 sub" value="Submit">
                </div>
            </form>
            <section id="twitter " class="pt-3 ">
                <div class="website-header ">
                    <div class="row ">
                        <h2 class="text-white "><i class="fa fa-twitter "></i> Twitter</h2>
                    </div>
                </div>
                <% users.forEach(user => { %>
                    <div class="col d-flex justify-content-around ">
                        <div class="card border-rounded border-0 w-75 shadow rounded ">
                            <div class="card-body card-bg-1 ">
                                <h6 class="user-username text-white ">
                                    <%= user.name%>
                                </h6>
                                <p class="user-post pt-2 text-white p-0 ">
                                    <%=user.text%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>

        </div>


        </section>
    </div>
    </div>
</body>

</html>